* {
  padding: 0px;
  margin: 0px;
}

.header {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-item {
  display: inline-block;
}

.menu-link {
  display: inline-block;
  align-items: center;
  font-size: 16px;
  color: #4a4a4a;
  list-style-type: none;
  padding: 10px 10px 13px 10px;
  color: #4a4a4a;
  text-transform: uppercase;
  text-decoration: none;
}

.main {
  height: 100vh;
  font-family: Rubik;
  font-size: 30px;
  font-weight: bold;
  background-color: #3cdbc0;
  padding: 100% 0;
}
.main-content {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-inner {
  display: block;
  text-transform: capitalize;
  text-align: center;
  font-size: 30px;
}
/* ---media--- */
@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    width: 115px;
    text-align: center;
  }
}
